@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMTYyMzgxMi1tcmV5bm9sZHM6bndlaVV3d1h6UlYzMGNLeDN2c0oxOVp5Y21lYVA5Sko=
always-auth=true
ignore-scripts=true
